# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
client/dist/
server/dist/
electron/dist/

# Electron build output
release/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

package.bat